@charset "utf-8";

@import "common";
body{
    width: 320px;
    margin:  auto;
}
.area{
    position: relative;
    width: 320px;
    height: 300px;
    margin: 100px auto 0;
    background:#2719B2;
}
#target{
    position: absolute;
    top:100px;
    left:100px;
    width: 100px;
    height: 100px;
    background: #8888FF;
    opacity: 0.5;
    z-index: 1;
}


#target2{
    position: absolute;
    top:75px;
    left:75px;
    width: 150px;
    height: 150px;
    background: #FF8888;
    opacity: 0.5;
    z-index: 0;
}
